@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    font-family: 'hind_siliguri';
    font-weight: normal;
    font-size: 16px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

:root {
    --primary_color: #001931;
}

/* Nav Section  */

/* Banner Section   */

/* Notes Section  */

/* Second Brain Section  */

/* Early Access Section  */

/* Footer Section  */